<!doctype html>
<html>
<head>
<title>Is the brewer making magic?</title>
<link rel="stylesheet" type="text/css" href="main.css">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});
google.setOnLoadCallback(drawChart);
function drawChart() {

var data = new google.visualization.DataTable();
        data.addColumn('date', 'Time of Day');
        data.addColumn('number', 'Rating');

        data.addRows([
      <% for (var i in coffee) { %>
      [new Date('<%= i %>'), <%= coffee[i] %>],
      <% } %>
        ]);
var options = {
          title: 'Coffee consumtion in the Stockholm Office',
          width: 900,
          height: 500,
          hAxis: {
            format: 'd-M-y',
          },
          vAxis: {
            gridlines: {color: 'none'},
            minValue: 0
          }
        };



var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
chart.draw(data, options);
}
</script>
</head>
<body>
<div id="chart_div"></div>
</body>
</html>
